/autofill_brevet/
/autofill_brevet/*

*/first_test.ipynb
/Users/Adrien/Documents/paramoteur/autofill_brevet/first_test.ipynb

/.vscode
.bashrc
utils_activate_env.txt
/build
/dist
/__pycache__
src/__pycache__/